@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

.first-page {
    height: 100vh;
    background-image: url(../backgroundimg/BG-beautiful_rustic_plating_dessert.jpg);
    background-size: cover;
    animation: slide 20s infinite;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


@keyframes slide {
    0% {
        background-image: url(../backgroundimg/BG-cheesecake.jpg);
    }

    20% {
        background-image: url(../backgroundimg/BG-cake.png);
    }

    40% {
        background-image: url(../backgroundimg/BG-cookies-1.png);
    }

    60% {
        background-image: url(../backgroundimg/BG-crepe.png)
    }

    80% {
        background-image: url(../backgroundimg/BG-cookies.png);
    }
}

header {
    max-height: 100px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    color: white;
    display: flex;
}

    /*Class logo*/
    header .logo {
        max-width: 300px;
        float: left;
        cursor: pointer;
        flex:1;
        border: 1px solid #000000;
    }
    /*Class Navbar*/
    header .navbar {
        align-items: center;
        flex: 1;
        padding-top: 20px;
    }

        header .navbar ul {
            text-align: center;
        }

            header .navbar ul li {
                display: inline-block;
                list-style: none;
            }

                header .navbar ul li a {
                    text-decoration: none;
                    color: white;
                    padding: 10px 20px;
                }

                    header .navbar ul li a:hover {
                        background: #9fb7cd;
                        color: #0b3961;
                        text-decoration: underline;
                    }

                header .navbar ul li ul {
                    position: absolute;
                    display: none;
                    margin-top: 10px;
                    padding-left: 0px;
                    width: 10em;
                }

                header .navbar ul li:hover ul {
                    display: block;
                }

                header .navbar ul li ul li {
                    width: 100%;
                    padding: 10px;
                    background-color: #0f4c81;
                    color: white;
                    text-align: left;
                }

                    header .navbar ul li ul li:hover {
                        background: #9fb7cd;
                        color: #0b3961;
                    }

                        header .navbar ul li ul li:hover a {
                            text-decoration: none;
                        }
    /*Class Icon*/
    header .icon {
        min-width: 300px;
        display: flex;
        padding-top:10px;
    }

        header .icon svg {
            padding: 10px;
            margin: 10px;
        }

        /*Icon User*/
        header .icon .user {
            width: 60%;
        }

            header .icon .user ul {
                padding-left: 10px;
            }

            header .icon .user li {
                display: none;
                position: relative;
                margin: 10px 0;
                flex: 1;
            }

                header .icon .user li a {
                    text-decoration: none;
                    color: white;
                    border: 1px solid #0f4c81;
                    padding: 5px;
                }

            header .icon .user:hover ul li {
                display: inline-block;
            }

            header .icon .user li:hover a {
                background: #9fb7cd;
                color: #0b3961;
            }
