body {
    margin: 0;
    padding: 0;
    font-family: Lora;
}

header {
    background-color: #0f4c81;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-family: lora;
}

    header .navbar {
        margin: auto;
        display: flex;
        align-items: center;
    }
    /*Loại bỏ dấu chấm mặc định trước thẻ <li>*/
    header ul {
        list-style: none;
        text-align: center;
    }

        header ul li {
            position: relative;
            display: inline-block;
            padding: 10px 30px;
        }

            header ul li a {
                display: block;
                text-decoration: none;
                padding: .3em 6px;
                color: white;
            }

    header li a:hover {
        text-decoration: underline;
    }

    header li a:active {
        text-decoration: underline;
    }

    header li ul {
        position: absolute;
        display: none;
    }

    header .logo {
        float: left;
        font-size: 34px;
        text-align: center;
        letter-spacing: 8px;
        cursor: pointer;
        flex: 1;
        margin-left: 10px;
    }

    header .icon {
        float: right;
        flex: 1;
        font-size: 30px;
    }

        header .icon a {
            color: white;
            text-decoration: none;
        }

    header li:hover ul {
        display: block;
    }

    header ul li ul li {
        width: 100%;
        background-color: #0f4c81;
        color: white;
        text-align: left;
    }

        header ul li ul li:hover {
            width: 100%;
            background-color: #87a6c0;
            color: white;
            text-align: left;
            text-decoration: none;
        }

.center {
    margin: auto;
    width: 60%;
    text-align: justify
}

.login {
    width: 100%;
    height: 600px;
}

.rightlogin {
    float: right;
    width: 45%;
}

object {
    width: 100%;
    height: 500px;
}

.loginbackground {
    max-width: 1px;
}

.clickloadform {
    cursor: pointer
}

    .clickloadform:hover {
        color: dodgerblue;
    }

.leftbackground {
    width: 715px;
    height: 600px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right right;
    background-size: cover;
    float: left;
}
/*footer*/


/*footer*/

footer {
    bottom: 0px;
    width: 100%;
    background-color: #0f4c81;
    color: white;
    text-decoration: none;
}


    footer a {
        color: white;
        text-decoration: none;
    }

.main_content {
    display: flex;
    margin: 0 auto;
}

    .main_content .left {
        flex-basis: 50%;
        padding: 10px 20px;
    }

    .main_content .nextleft {
        flex-basis: 50%;
        padding: 10px 20px;
    }

    .main_content .right {
        flex-basis: 50%;
        padding: 10px 20px;
    }

    .main_content .nextright {
        flex-basis: 50%;
        padding: 10px 20px;
    }

.left h2 {
    font-size: 40px;
    text-align: center;
}

.main_content .content {
    margin: 10px 0 0 0;
}

.main_content .social a {
    font-size: 30px;
    padding: 2px 2px
}

    .main_content .social a span {
        margin-top: 30px;
        width: 40px;
        height: 40px;
    }
