body {
    margin: 0;
    padding: 0;
    font-family: Lora;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #0f4c81;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-family: lora;
}

    header .navbar {
        margin: auto;
        display: flex;
        align-items: center;
    }
    /*Loại bỏ dấu chấm mặc định trước thẻ <li>*/
    header ul {
        list-style: none;
        text-align: center;
    }

        header ul li {
            position: relative;
            display: inline-block;
            padding: 10px 30px;
        }

            header ul li a {
                display: block;
                text-decoration: none;
                padding: .3em 6px;
                color: white;
            }

    header li a:hover {
        text-decoration: underline;
    }

    header li ul {
        position: absolute;
        display: none;
    }

    header .logo {
        float: left;
        font-size: 34px;
        text-align: center;
        letter-spacing: 8px;
        cursor: pointer;
        flex: 1;
        margin-left: 10px;
    }

    header .icon {
        float: right;
        flex: 1;
        font-size: 30px;
    }

        header .icon a {
            color: white;
            text-decoration: none;
        }

    header li:hover ul {
        display: block;
    }

    header ul li ul li {
        width: 100%;
        background-color: #0f4c81;
        color: white;
        text-align: left;
    }

        header ul li ul li:hover {
            width: 100%;
            background-color: #87a6c0;
            color: white;
            text-align: left;
            text-decoration: none;
        }

.menuleft {
    width: 270px;
    float: left;
    height: auto;
    min-height: 100%;
    border: 1px solid #0f4c81;
}

    .menuleft h2 {
        padding-left: 25px;
    }

    .menuleft li {
        list-style-type: none;
        line-height: 200%
    }

.menuright {
    width: 950px;
    float: left;
    height: auto;
    min-height: 100%;
}

#clear {
    clear: both;
}

.columnmenu {
    text-align: left;
    position: relative;
    padding: 0 1rem;
}

    .columnmenu a {
        text-decoration: none;
        color: black;
        border: 1px solid #0f4c81;
        padding-left: 10px;
        padding-right: 10px;
    }

.rowmenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 20px
}


.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px
}


.thumb {
    width: 270px;
    height: 270px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.centermenu {
    margin: 0 auto;
    margin-top: 40px;
}
/*icon search*/
.input-field {
    text-align: left;
}
.categorymenu li a {
    text-decoration: none;
    color: black;
    cursor:pointer
}
.categorymenu li a:hover{
    text-decoration:underline
}
.pagenumber ul li {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 15px;
    border: 1px solid #0f4c81;
}

    .pagenumber ul li a {
        text-decoration: none;
        color: black;
    }

        .pagenumber ul li a:hover {
            text-decoration: underline;
        }

.pagenumber ul {
    list-style: none;
}
/*.object {
    float:right;
    width: 960px;
    height: 100%;
    min-height: 100%;
    overflow:visible;
}*/
.iconheart {
    margin-left: 5px;
    border: 1px solid #0f4c81;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 2px
}